@use "variables" as *;

.textbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  .chat-textbox {
    height: 6rem;
    width: 70%;
    border: 0.4rem solid $frame;

    input {
      width: 100%;
      height: 100%;
      padding: 1rem;
      font-size: 1.7rem;
      outline: none;
      border: none;
    }
  }
  .send-text-btn,
  .add-file-btn {
    box-shadow: $unclicked-button;
    cursor: pointer;
    
    .svg-icon {
      padding: 0.5rem;
      border-radius: 3rem;
    }
    &:active {
      box-shadow: $clicked-button;
    }
  }
}
