
.close-icon {
  cursor: pointer;

}

.user-profile-menu {
  .close-icon {
    align-self: flex-end;
    padding-top: 1rem;
  }
}
.burger-menu {
  .close-icon {
    align-self: flex-end;
    padding-top: 5rem;
  }
}